<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
    <link rel="stylesheet" href="/css/style.css" />
    <style>
      .table-container {
        padding: 15px 20px;
        border: solid 2px;
        margin: 10px;
      }
      .title {
        padding: 8px;
        font-size: 30px;
        font-weight: 600;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th,
      td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      tr:hover {
        background-color: rgb(219, 213, 210);
      }
    </style>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">List User</a>
      <a href="/create">Create new users</a>
    </div>
    <div class="table-container">
      <div class="title">List user</div>
      <table>
        <tr>
          <th>Id</th>
          <th>Email</th>
          <th>Name</th>
          <th>City</th>
          <th>Action</th>
        </tr>
        <% listUser.forEach(function(user) { %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.name %></td>
          <td><%= user.city %></td>
          <td>
            <a href="/editUser/<%= user.id %>"><button>Edit</button></a>
            <form action="/delete-user/<%= user.id %>" method="POST">
              <button>Delete</button>
            </form>
          </td>
        </tr>
        <% }); %>
      </table>
    </div>
  </body>
</html>
